.env
**/__pycache__
logs/*
all_commits_meta.json
author_to_hash.json
commits.json
contributors.json
data.json
test.json
user_commits/
src/models/lang_detect/model.onnx
src/util/__pycache__/Mapper.cpython-312.pyc
TEST_COMMIT_DIFF.diff
.DS_Store
*.pyc
dump-commit_analytics-202602030023.sql
