services:
  db:
    image: postgres:16
    container_name: devs-manager-db
    restart: always
    environment:
      POSTGRES_USER: czar
      POSTGRES_PASSWORD: 1218
      POSTGRES_DB: devs_manager
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U czar -d devs_manager"]
      interval: 5s
      timeout: 5s
      retries: 3

  api:
    build: .
    container_name: devs-manager
    restart: always
    env_file:
      - .env
    ports:
      - "0.0.0.0:8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge